<!--The content below is only a placeholder and can be replaced.-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script> 
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=0c0448fe0859bc978758a937fea22dc5"></script>
    <!-- <script src="https://trello.com/1/client.js?key=575d84734099f396a4f25e78af69730b"></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>

<body>
    <div class="container">
        <div style="text-align:center">
            <img width="400" class="img-responsive" src="assets/images/logo.png">
            <h1>
                Welcome to CFDrello

            </h1>
        </div>
    </div>
    <h2 style="text-align:center">Dashboards for Scrum and Kanban teams using Trello</h2>
    <br>
    <div class="container">
        <div style="text-align:center">
            <button class="button" (click)="login()"> Click to connect to Trello</button>
        </div>
    </div>

</body>

</html>