<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
</head>

<body>
    <p>
        <app-head></app-head>
    </p>
  
  <br><br><br>
  <div class="container">
      <form > 
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" value="untitle dashboard"  required >
          </div> 
          <br>
          <div class="form-group">
              <label for="board">Boards</label>
              <select class="form-control" id="board" required>
                <option *ngFor="let board of boards" [value]="board" >{{board}}</option>
              </select>
            </div>
          <br>
          <div class="form-group">
              <label for="list">Complete Cards</label>
              <input type="text" class="form-control" id="name" value=""   >
              <br>
              <p><button class="w3-button w3-blue" type="checkbox" (click)="completeCards($event)">Select Cards</button>
              <input type="color" name="favcolor" value="#80ff00">
          </div>
          <div class="form-group">
              <label for="list">Inprogress Cards</label>
              <input type="text" class="form-control" id="name" value=""  >
              <br>
              <p><button class="w3-button w3-blue" (click)="inprogressCards()" >Select Cards</button>
              <input type="color" name="favcolor" value="#ff0000">
          </div>
          <div class="form-group">
              <label for="list">Backlog Cards</label>
              <input type="text" class="form-control" id="name" value=""   >
              <br>
              <p><button class="w3-button w3-blue" (click)="backlogCards()">Select Cards</button>
                <!--  -->
              <input type="color" name="favcolor" value="#ffff00">
          </div><br>
          <div  class="nav navbar-nav navbar-right">
              <button type="submit" class="w3-button w3-green">Done</button>
          </div>
   
    </form>
  </div>
<br><br>


  
   
</body>

</html>